<!DOCTYPE html>
<html ng-app="YTA">
<head>
	<title>sample app</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--	<link rel="stylesheet" type="text/css" href="Materialize/dist/css/materialize.css"> -->

	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">


	<link rel="stylesheet" type="text/css" href="/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<div class="index-container" ui-view></div>

	<!-- <script src="jquery/dist/jquery.js"></script> -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="angular/angular.js"></script>
<!--	<script src="Materialize/dist/js/materialize.js"></script>  -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>


	<script src="angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="/app.js"></script>

	<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script src="js/materialize.js"></script>
	<script src="js/init.js"></script>





</body>

</html>